# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
build.log

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# IDE - VS Code
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Databases (Local H2 files if generated in root)
*.mv.db
*.trace.db

# Binaries & Original Files
*.jar
!src/**
